[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
anchor_dice_game = "GtTiCnrhsEE97p5qGY22T7FR6tJQFuM5cXR61P7frPiA"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "../../../dev_creds/keypairs/DevXPxYms5t88gQQ5w9N8z5ifu8F6F8KPKYjaYRrkQei.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
